.gridcell
{
    width: 20px;
    height: 20px;
    outline: 1px solid black;
    background-color: white;
    display: inline-block;
}

.gridcell-start
{
    width: 20px;
    height: 20px;
    outline: 1px solid black;
    background-color: rgba(126, 252, 143);
    display: inline-block;
}

.gridcell-finish
{
    width: 20px;
    height: 20px;
    outline: 1px solid black;
    background-color: rgba(252, 126, 126);
    display: inline-block;
}

@keyframes wallAnimate 
{
    0%{
        transform: scale(1.5);
        background-color: rgba(46, 46, 46);
    }
    55%{
        transform: scale(.9);
    }
    100%
    {
        transform: scale(1.0);
        background-color: rgba(179, 179, 179);
    }
}

.gridcell-wall
{
    width: 20px;
    height: 20px;
    outline: 1px solid black;
    animation-name: wallAnimate; 
    animation-duration: 1s;
    background-color:rgba(179, 179, 179);
    display: inline-block;
}

@keyframes cellVisitAnimate
{
    0%{
        transform: scale(0.1);
        background-color: rgba(128, 255, 160);
    }
    85%{
        transform: scale(1.1);
    }
    100%
    {
        transform: scale(1.0);
        background-color: rgba(128, 255, 238);
    }
}

.gridcell-visited
{
    width: 20px;
    height: 20px;
    animation-name: cellVisitAnimate; 
    animation-duration: 1s;
    outline: 1px solid black;
    background-color: rgba(128, 255, 238);
    display: inline-block;
}

@keyframes cellFinalAnimate
{
    0%{
        transform: scale(0.1);
        background-color: rgba(128, 196, 255);
    }
    85%{
        transform: scale(1.1);
    }
    100%
    {
        transform: scale(1.0);
        background-color: rgba(175, 128, 255);
    }
}

.gridcell-final
{
    width: 20px;
    height: 20px;
    animation-name: cellFinalAnimate; 
    animation-duration: 1s;
    outline: 1px solid black;
    background-color: rgba(175, 128, 255);
    display: inline-block;
}